body{
            font-family: arial black;
            font-weight: bold;
            background-color: #99D9EA;
}
h1{
            font-size: 20px;
            height: 12px;
}
h2{
            font-size: 12px;
}
table{
            font-size: 12px;
}

#Webseite{
            margin-left: 10em;
            margin-right: 10em;            
}

#Formular{
            float: left;

}
#messe{
           padding:0px;
}
#Box{
            float: right;
            text-align: center;
            border: solid;
            width: 200px;
            height: 80px;
}
#Messeinfo{
            margin-top: 50px;
            float: right;
            text-align: center   
}